# Logs
/logs/
*.log*

# Dep dirs
node_modules/
vendor/

# IDEs
.idea/
.vscode/

# Etcetera
.env

# Project
.well-known/
certs/
subdirs/
vhost.d/
custom.conf.d/*
!custom.conf.d/gzip.conf
!custom.conf.d/server.conf.sample
